@font-face{
  font-family: MinecraftRegular;
  src: url("./assets/minecraft-font/MinecraftRegular-Bmg3.otf");
}

@font-face{
  font-family: MinecraftItalic;
  src: url("./assets/minecraft-font/MinecraftItalic-R8Mo.otf");
}

html, body, #wrapper{
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: MinecraftRegular;
  color: rgba(85,85,84,255);
  background-color: rgba(194,195,195,255);
}

#wrapper{
  display: grid;
  grid-template-areas: 
  "craftingTable items"
  "tips items";
  gap: 20px;
}

.itemSlot, #item{
  display: flex;
  align-items: center;
  justify-content: center;
}

img{
  height: 90%;
}

#craftingTable{
  grid-area: craftingTable;
  display: grid;
  align-items: center;
  grid-template-columns: auto auto auto;
  grid-template-areas: 
  "title . ."
  "craft arrow item";
  justify-content: center;
  width: min-content;
  height: min-content;
  padding: 20px;
  gap: 0 20px;
}

#craftingTitle{
  text-align: start;
  font-size: 40px;
  grid-area: title;
}

#craftingTable > table{
  grid-area: craft;
  width: max-content;
  padding-left: 5px;
}

#craftingTable td, #item, .itemSlot{
  width: 64px;
  height: 64px;
  border-top: 2px solid rgba(51,50,50,255);
  border-right: 2px solid rgba(255,254,254,255);
  border-bottom: 2px solid rgba(254,255,255,255);
  border-left: 2px solid rgba(57,56,56,255);
  padding: 0;
  background-color: rgba(138,139,139,255);
}

#craftingArrow{
  grid-area: arrow;
  height: 64px;
}

#item{
  grid-area: item;
  width: 80px;
  height: 80px;
}

#items{
  grid-area: items;
  justify-self: end;
  display: grid;
  height: 98vh;
  padding-bottom: 2vh;
}

.itemSlot{
  width: 32px;
  height: 32px;
}

#itemBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px 10px 0;
}

#inventoryTitle{
  padding-top: 10px;
  font-size: 20px;
}

#itemSearch{
  height: min-content;
  background-color: rgba(55,54,54,255);
  display: flex;
  padding: 5px 20px;
}

#searchIcon{
  height: 30px;
}

#search{
  margin: 0;
  padding: 0;
  background-color: rgba(1,0,1,255);
  color: rgba(124,125,124,255);
  font-family: MinecraftRegular;
  border: 2px solid rgba(158,158,159,255);
  padding: 5px;
  font-size: 15px;
}

#search::placeholder{
  color: rgba(124,125,124,255);
  font-family: MinecraftItalic;
}

#inventory{
  overflow-y: scroll;
}

#slots{
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  justify-content: end;
  padding: 0 10px;
}

#tips{
  grid-area: tips;
}