@font-face{
  font-family: MinecraftRegular;
  src: url("./assets/minecraft-font/MinecraftRegular-Bmg3.otf");
}

html, body, #wrapper{
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: MinecraftRegular;
  color: rgba(85,85,84,255);
}

#wrapper{
  display: grid;
  grid-template-areas: 
  "craftingTable items"
  "tips items";
}

#craftingTable{
  grid-area: craftingTable;
  background-color: rgba(194,195,195,255);
  display: grid;
  align-items: center;
  grid-template-columns: auto auto auto;
  grid-template-areas: 
  "title . ."
  "craft arrow item";
  justify-content: center;
  width: min-content;
  height: min-content;
  padding: 20px;
  gap: 0 20px;
}

#craftingTitle{
  text-align: start;
  font-size: 40px;
  grid-area: title;
}

#craftingTable > table{
  grid-area: craft;
  width: max-content;
  padding-left: 5px;
}

#craftingTable td, #item{
  width: 64px;
  height: 64px;
  border-top: 2px solid rgba(51,50,50,255);
  border-right: 2px solid rgba(255,254,254,255);
  border-bottom: 2px solid rgba(254,255,255,255);
  border-left: 2px solid rgba(57,56,56,255);
  padding: 0;
  background-color: rgba(138,139,139,255);
}

#craftingArrow{
  grid-area: arrow;
  height: 64px;
}

#item{
  grid-area: item;
  width: 80px;
  height: 80px;
}

#items{
  grid-area: items;
}

#tips{
  grid-area: tips;
}