#guideWrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: min-content auto;
    color: rgb(85, 85, 84);
}

#contentTable {
    background-image: url("./assets/image/stone-bg.png");
    background-size: 64px;
    padding: 20px;
    width: max-content;
}

#guideWrapper #backToMenu button {
    background-image: url("./assets/image/button-bg.png");
    background-size: cover;
    padding: 5px;
    color: white;
    font-family: MinecraftRegular;
    border-top: gray 2px solid;
    border-right: rgb(88, 88, 88) 2px solid;
    border-bottom: rgb(88, 88, 88) 4px solid;
    border-left: gray 2px solid;
}

#contentTable ul {
    padding-left: 20px;
}

#contentTable>ul {
    padding: 0;
}

#contentTable ul ul {
    margin-bottom: 20px;
    line-height: 20px;
}

#contentTable li {
    list-style: none;
}

#contentTable>ul a {
    text-decoration: none;
    color: yellow
}

#contentTable>ul a:hover {
    color: rgb(229, 165, 238)
}

#contentTable #backToMenu {
    display: block;
    margin: auto;
    width: auto;
}

#contentTable #backToMenu button {
    width: 100%;
}

#content {
    background-size: 64px;
    padding: 0 20px 20px 20px;
    overflow-y: scroll;
}

#content ul {
    list-style: square;
}

#content b:not(.indicator) {
    color: red;
}

#pcControlContent,
#mobileControlContent {
    display: flex;
    gap: 8vmin;
    text-align: justify;
}

#pcControlContent h3,
#mobileControlContent h3 {
    margin-top: 0;
}

#pcControlContent>div,
#mobileControlContent>div {
    flex-grow: 1;
}

#pcControlContent>div video,
#mobileControlContent>div video {
    width: 100%;
}

#redIndicator {
    color: red;
}

#yellowIndicator {
    color: yellow;
}

#greenIndicator {
    color: green;
}

@media only screen and (max-width: 800px) {

    #pcControlContent,
    #mobileControlContent {
        flex-direction: column;
        gap: 0;
    }
}

@media only screen and (max-width: 500px) {
    #guideWrapper {
        grid-template-columns: auto;
    }

    #contentTable {
        display: none;
    }
}